{% extends './main.html' %}
{% load crispy_forms_tags %}
{% block content %} 
    <h1>Class Details</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        ADD CLASS
    </button>

    <a href="{% url 'class_pdf_page' %}">
        <button class="btn btn-info">Download Pdf</button>
    </a>
    <table class="table table-striped">
        <thead>
            <th scope="col">Class id</th>
            <th scope="col">Class Name</th>
            <th scope="col">Class Teacher</th>
            <th scope="col">Class Fees</th>
        </thead>
        <tbody>
            {% for class in class %}
                <tr>
                    <th scope="row">{{class.id}}</th>
                    <td>{{class.Class_name}}</td>
                    <td>{{class.Class_Teacher}}</td>
                    <td>{{class.Class_fees}}</td>
                    <td><a href="{% url 'edit_class_page' class.id %}">
                        <i class="material-icons">edit</i>
                    </a> |
                        <a href="{% url 'delete_class_page' class.id %}"
                        onclick="return confirm('Press OK to delete this Class')">
                        <i class="material-icons">delete_sweep</i>
                    </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-success"><a href="{% url 'home_page' %}">Home</a></button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add another Class</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}